<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
    <system.webServer>
      
        <defaultDocument>
            <files>
                <clear />
                <add value="Home2.aspx" />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
  <connectionStrings>
    <!--<add name="constr" connectionString="Data Source=WIN-G162FV078V1;User ID=PhoneZooUser;Password=120+Skipper;Initial Catalog=PhoneZooDB;Integrated Security=False"/>-->
    <add name="constr" connectionString="Data Source=CHETANA08\SQLEXPRESS;User ID=PhoneZooUser;Password=120+Skipper;Initial Catalog=PhoneZooDB;Integrated Security=True"/>

  </connectionStrings>
  <system.web>
    
        <customErrors mode="Off"/>
   
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="16384" executionTimeout="120" />
  </system.web>

</configuration>

  